<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <title>Document</title>
</head>
<body>
  <div class="main-container">
    <div class="title-description-container">
      <h1 id="title">FlipIt.</h1>
      <p id="description">The No.1 app for effective memorization using flashcards and our smart active recall algorithm</p>
    </div>
  </div>
</body>
</html>