<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/recall.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
      const DECKNAME = "<%= name %>"
      console.log(DECKNAME)
    </script>
    <script src="/js/recall.js"></script>
</head>
<body>
  <div class="main-flashcards-container">
    <div class="cards-container">
    </div>
    <div class="difficulty-btns">
      <div class="difficulty-btn">
        <span id="easy-wait">3h</span>
        <button id="easy-btn" onclick="submitDifficulty(this)">Easy</button>
      </div>
      <div class="difficulty-btn">
        <span id="good-wait">2h</span>
        <button id="good-btn" onclick="submitDifficulty(this)">Good</button>
      </div>
      <div class="difficulty-btn">
        <span id="hard-wait">48m</span>
        <button id="hard-btn" onclick="submitDifficulty(this)">Hard</button>
      </div>
      <div class="difficulty-btn">
        <span id="very-hard-wait">30m</span>
        <button id="very-hard-btn" onclick="submitDifficulty(this)">Very Hard</button>
      </div>
    </div>
  </div>
  <script>
    getCards(DECKNAME)
  </script>
</body>
</html>